*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/background-pourple.webp);
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.cabecera{
    width: 90vw;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera__nav{
    display: none;
}

.cabecera__logo{
    width: 12rem;
}
    

.cabecera__nav--a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size:1.2rem;
}

.cabecera__nav--img{
    margin-top: 2rem;
    width: 3rem;
}

.cabecera__menu-toggle{
    background: none;
    border: none;
    cursor: pointer;
}

.cabecera__menu-toggle img {
    width: 3rem;
}

.cabecera__nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    width: 20rem;
    height: 80vh;
    padding: 1rem;
    top: 70px;
    background-color: #46354F;
    z-index: 1;
}

.principal{
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    background-color: #87397aa8;
    position: relative;
    bottom: 1.3rem;
}

.principal__h1{
    color: #fff;
    text-decoration: underline solid 4px;
    font-size: 4rem;
}

.principal__h2{
    color: #F58634;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.principal__parrafoOne,.principal__parrafoTwo{
    color: #fff;
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.principal__span{
    color: #F58634;
    font-weight: 700;
}

.arrow{
    width: 50px;
    transform: rotate(-80deg) scaleX(-1);
    position: relative;
    bottom: 1rem;
    right: 1.5rem;
}

.principal__cta{
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    border: 3px solid #fff;
    border-bottom: solid #464444;
    position: relative;
    bottom: 2.3rem;
    right: 1rem;
    font-family: inherit;
    color: #F58634;
    font-weight: 700;
}

.footer{
    width:100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0.5rem;
    font-size: .8rem;
}
    
.figure__principal .indicadores{
    width: 200px;
}  

.figure__img,.figure__baner{
    width: 100%;
}

@media screen {
    
}

@media screen and (min-width:1024px){

    body{
        background-image: url(./img/fondoInmujeres.webp);
        height: 100vh;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        overflow-y: hidden;
    }
    .cabecera__nav{
        display: block;
    }

    .cabecera__nav--img{
        width: 2rem;
    }

    .cabecera__nav--a{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        margin-right: 1rem;
    }
    .cabecera__menu-toggle{
        background: none;
        border: none;
        cursor: pointer;
        display: none;
    }

    .cabecera{
        width: 90vw;
        margin: 0 auto;
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo{
        width: 15rem;
    }

    .arrow{
        right: 0;
    }
    
    .principal{
        width: 38vw;
        margin: 0;
        margin-left: 2rem;
        background-color: transparent;
        top: .5rem;
    }

    .principal__cta{
        left: .5rem;
    }
    .figure__principal .indicadores{
         width: 250px;
         margin-bottom: 1rem;
    }  

    .principal__h1{
        font-size: 5rem;
    }

    .principal__h2{
        font-size: 1.8rem;
    }

    .figure__principal{
        text-align: left;
        margin-left: 2rem;
    }

    .footer{
        width: 60%;
        top: -1.5rem;
        left: 12rem;
        font-size: .75rem;
    }

    .figure__img,.figure__baner{
        display: none;
    }
}
